html {
       background-image: url(../images/dark_wall.png);
       background-repeat: repeat;
     }

input[type='text'] { 
                     width: 200px; 
                     margin-right: 5px;
                   }

.title .lable { font-family: Helvetica, sans-serif; }

.component {
             position: relative;
           }

.component.lvl1 {
                  background: rgba(75, 75, 75, 0.5);
                  padding: 10px;
                  margin: 30px;
                }

.component.lvl2 {
                  background: rgba(75, 75, 75, 0.9);
                  padding: 15px;
                  margin: 15px;
                  margin-left: 5px;
                  margin-right: 5px;
                }

.columns { margin: 0px; }

.columns:last-child { margin-bottom: 0px; }

.column { 
          margin: 0px; 
          padding: 0px; 
        }

.text {
        color: lightgray;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }

.lable {
         position: absolute;
         top: 0;
         right: 0;
         line-height: 11px; 
         font-size: 12px;
         font-weight: bold;
       }
