<div class='box'>
  <h1 class='title'>Boards</h1>
</div>
<table class='table is-fullwidth'>
  <thead>
    <tr>
      <th>TITLE</th>
      <th></th>
      <th>DATE</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <th>
          <%= link_to board.title, board %>
        </th>
        <th>
          <%= link_to "Continue board '#{board.title}'",
              continue_board_path(board),
              method: :post,
              class: 'button is-info' %>
        </th>
        <th>
          <%= board.created_at %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
