.box { margin-bottom: 1.5rem; }

.green_font {color: hsl(141, 71%, 48%)}
.yellow_font {color: hsl(48, 100%, 67%)}
.red_font {color: hsl(348, 100%, 61%)}

.green_bg {background-color: hsl(141, 71%, 48%)}
.yellow_bg {background-color: hsl(48, 100%, 67%)}
.red_bg {background-color: hsl(348, 100%, 61%)}
